<main>

<h1 id='pd' class='center'>Submit Feedback</h1>

<% if @sent %>
    <h2>Message Sent!</h2>
<% else %>

<div id='list'>

    <form>

<% Tag.all.sort_by(&:name).each do |tag| %>

<input id='<%= tag.name.split(' ')[0] %>' type='checkbox'><%= tag.name %><br>

<% end %>

</form>





<% Tag.all.sort_by(&:name).each do |tag| %>
<div class='hiddendiv' id='<%= tag.name.split(' ')[0] %>div'>
<p><%= tag.name %></p>
  <ul class='resources'>
  <% tag.resources.each do |resource| %>

  <li><a href='<%= resource.url %>'><%= resource.description %></a></li>

    <% end %>
  </ul>
  </div>
<% end %>

</div>
<div id='feedback'>
    <form action='/complaints' method='post'>
    <label for='subject'>Subject</label><br>
    <input type='text' name='subject' placeholder="subject" size='32'><br>
    <label for='sendto'>Recipient</label><br>
    <!-- ####### EMAILS GO HERE ########## -->
    <!-- SFPDs -->
    Central SFPDCentralStation@sfgov.org
    Southern SFPDSouthernStation@sfgov.org
    Bayview SFPDBayviewStation@sfgov.org
    Mission SFPDMissionStation@sfgov.org
    Northern SFPDNorthernStation@sfgov.org
    Park SFPDParkStation@sfgov.org
    Richmond SFPDRichmondStation@sfgov.org
    Ingleside SFPDInglesideStation@sfgov.org
    Taraval SFPDTaravalStation@sfgov.org
    Tenderloin SFPDTenderloinStation@sfgov.org
    <!-- ################################# -->
    <label for='youremail'>Your Email</label><br>
    <input type='text' name='from' placeholder="you@person.com" size='32'><br>
    <label for='message'>Message</label><br>
    <textarea name='message' cols='30', rows='10'></textarea><br>
    <input id='submit' type='submit' value="Send Email">
    </form>

    </form>

    </div>
<% end %>

<p id='clear'></p>

</main>
