<form>

<% Tag.all.each do |tag| %>

<input id='<%= tag.name.split(' ')[0] %>' type='checkbox'><%= tag.name %><br>

<% end %>

</form>

<% Tag.all.each do |tag| %>
<div class='hiddendiv' id='<%= tag.name.split(' ')[0] %>div'>
<p><%= tag.name %></p>
  <ul>
  <% tag.resources.each do |resource| %>

  <li><a href='<%= resource.url %>'><%= resource.description %></a></li>

    <% end %>
  </ul>
  </div>
<% end %>
