<div class='sidebar'>
<table>
<tr><th>Category</th><th>Count</th></tr>
<% @tags.each do |tag| %>
<tr>
  <% if tag.name != "General" %>
  <td><a href="/tags/<%="#{tag.id}"%>"><%= "#{tag.name}" %></a></td><td><%= "#{tag.complaints.count}" %></td>
  <% end %>
</tr>
<% end %>
</table>
</div>

<main>

<p class='center'>Providing Community Access to Police Oversight (or something...)</p>

<div id ="frontpage_links"
<h3>What to know before filing a complaint</h3>
  <ul>
    <% @resources.each do |resource| %>
      <li><a href="<%= "#{resource.url}" %>"><%= "#{resource.description}" %></a></li>
    <% end %>
  </ul>
</div>

<a href='/complaints/new'>File a complaint</a>



</main>

<p id='clear'></p>
